.nav {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 23vh;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
  font-weight: 300;
}

.spacer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-right: 5em;
  width: 25%;
}