  .selected {
    background-color: transparent;
  }

  .link {
    text-decoration: none;
    padding: 0.5em 0.5em;
    display: block;
    color: var(--grey);
    font-weight: 300;
    background-color: transparent;
    font-family: Montserrat;
    font-size: 1.1em;

  }

  .link:hover {
    color: var(--lightgrey);
    font-weight: 500;
  }

  .selected {
    position: relative;
    width: 125px;
    padding: 0.35em 0.5em;

  .selected a {
    color: var(--lightgrey);
    font-weight: 500;
  }

  .unselected {
    text-align: center;
    width: 125px;
    padding: 0.35em 0.5em;
  }

  .top,
  .bottom {
    position: absolute;
    width: 6px;
    height: 6px;
  }

  .top {
    top: 0;
    border-top: 4px solid var(--red);
  }

  .bottom {
    bottom: 0;
    border-bottom: 4px solid var(--red);
  }

  .left {
    left: 0;
    border-left: 4px solid var(--red);
  }

  .right {
    right: 0;
    border-right: 4px solid var(--red);
  }